<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
   <meta charset="utf-8">
   <title>My Streaming Service</title>
  <link rel="stylesheet" href="styles.css">
  </head>
  <body class="body">
    <header class="header">Proyecto de streaming de Pablo Rodriguez</header>
    <section id="movie_list" style="border: 1px solid green">
      <h1>Mi lista</h1> 
     <div id="movies-container" class="movies-container">
      </div>
    </section>
    <section class="form-container "id="form-container" style="border: 1px solid gray">
      <form class="form" id="movie-form">
        <span>Agrega una peli a tu lista</span>
        Nombre de pelicula: 
        <input type="text" name="movie-name" id="movie-name" value="">
        Donde se encuentra:
        <input type="text" name="movie-platform" id="movie-platform" value="">
        Portada de la pelicula:
        <input type="text" name="movie-cover" id="movie-cover" value="">
        <button type="submit">submit</button>
      </form>
    </section>
    <script type="text/javascript" src="index.js"></script>
  </body>
</html>